/* Mobile friendly design */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* Header bar with logo and nav menu */
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background: white;
}

/* Formatting for logo in header bar */
header img {
    max-height: 80%;
    margin: 1em;
    display: flex;
    align-items: center;
}

/* Navigation menu */
nav {
    display: flex;
    font-family: 'Spartan', sans-serif;
}

/* Nav bar links */
nav a {
    display: flex; 
    align-items: center;
    margin-right: 1em;
    text-decoration: none;
    color: #3b3b3b;
    font-size: 0.7em;
}

/* Text styling on headers */
h1, h2, h3 {
    text-align: center;
    color: hsl(0, 0%, 23%);
    padding: 2%;
}

h1 {
    font-size: 1.7rem;
    font-family: 'ivymode', sans-serif;
    font-weight: 700;
}

h2, h3 {
    font-family: 'ivymode', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 1.15rem;
}

h3 {
    font-size: 1rem;
}

/* Home page formatting, where #hero is the content container */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero img {
    max-width: 100%;
    margin: 10px;
}

/* Adjusting content down to be visible below fixed nav bar */
#hero, .title {
    margin-top: 15%;
}

/* Animating home page - button appearing or name typing etc. time permitting*/
#hero h1 {
    overflow: hidden;
    animation: text-curser 1.5s steps(14, end), blink-caret 1.2s infinite;
    white-space: nowrap;
    border-right: solid 2px #3b3b3b;
}

@keyframes text-curser {  
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: #3b3b3b; }
}

/* Styling non-header text */
p, section a {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    color: #3b3b3b;
    padding: 15px;
    text-align: center;
}

section a {
    text-decoration: none;
    background: #F5E9E5;
    padding: 10px;
    color: #3b3b3b;
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

/* Formatting articles for portfolio work and blog posts*/
/* Overall page container */
.posts {
    display: grid;
    align-content: center;
}

/* Individual posts */
article {
    padding: 3%;
}

/* Individual posts/articles */
.white-background, .background-block {
    display: grid;
    justify-items: center;
    align-items: center;
}

article div {
    width: 100%;
}

/* Formatting container div for text */
.hero-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Images within articles */
article img {
    max-width: 80%;
    justify-self: center;
}

/* Balancing space between posts or 'articles' */
.posts p {
    padding: 1%;
    margin: auto;
}

/* Adjusting white space above blog post 1 */
.title p {
    padding-bottom: 0;
}

/* Pseudo classes for links */
nav a:hover, section a:hover {
    background: #F1C5B6;
}

/* Aligning hr element with header */
hr {
    border-top: 1.6em solid #F5E9E5;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.title h1 {
    height: 30px;
    z-index: 1;
}

.background-block {
    background: #F5E9E5;
}

/* Formatting About page */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling Footer icons */
footer {
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 5%;
}

footer i {
    font-size: 2rem;
    color: #3b3b3b;
}

footer a {
    text-decoration: none;
    padding: 0 5%;
}

footer a:visited {
    color: #3b3b3b;
}

footer a:hover {
    color: #3b3b3b;
    font-size: 2.1rem;
}
/* Formatting about page, where overall containter is .about */

/* Styling for links under about section */
#skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    background: #F5E9E5;
    padding: 2%;
}

#skills div {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Links at bottom of page */
#about a {
    margin: 1%;
    width: 50%;
}

#skills i {
    color: #3b3b3b;
    font-size: 3rem;
    padding: 2%;
}

#skills p {
    line-height: 1.2;
}

/* Tablet screen adjustments */

@media only screen and (max-width: 800px) and (min-width: 401px) {
    
    /* Increasing font size for larger screen */
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    p, a, nav a {
        font-size: 1em;
    }

    header {
        height: 80px;
    }

    nav a {
        padding: 0.4em;
        font-size: 0.9em;
    }
    
    /* Limiting width to keep formatting tidy */
    section p {
        max-width: 600px;
    }

    /* Adjusting hero image on home page */
    #hero img {
        max-width: 80%;
        margin-bottom: 20px;
    }
    
    #hero, .title {
        margin-top: 90px;
    }
}

/* Desktop screen adjustments */

@media only screen and (min-width: 801px) {
    /* Adjusting text for bigger screen size */
    h1 {
        font-size: 2.7em;
        letter-spacing: 0.05em;
    }
    
    h2 {
        font-size: 1.6em;
        letter-spacing: 0.05em;
    }
    
    h3 {
        font-size: 1.4em;
        letter-spacing: 0.05em;
    }
    
    p, section a, nav a {
        font-size: 1.2em;
    }
    
    /* Enlarging menu for better use of white space */
    header {
        height: 100px;
    }
    
    nav a {
        padding: 1.5em;
    }
    
    /* Adjusting hr element to be responsive */
    hr {
        border-top: 2.4em solid #F5E9E5;
    }
    
    .title h1 {
        height: 40px;
        z-index: 1;
    }
    
    header {
        z-index: 3;
    }
    
    header img {
        margin-top: 1.5em;
    }
    
    .title {
        margin-top: 90px;
    }

    #hero {
        width: 70%;
        margin: 90px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #hero img {
        /* order: -1;  */
        flex: 4;
        max-width: 50%;  
    }

    #hero a {
        max-width: 80%;
        margin: 0.5em;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 3;
    }

    .hero-content a {
        font-size: 1.5vw;
    }

    .hero-content h1 {
        font-size: 4vw;
    }

    /* Formatting articles for portfolio work and blog posts*/
    /* Each article container */
    .white-background, .background-block {
        display: grid;
        grid-template: 100% / repeat(6, 1fr);
        grid-auto-flow: column;
        column-gap: 2%;
    }

    .white-background img {
        grid-column: 3 / 7;
    }

    .white-background div {
        grid-column: 1 / 3;
    }

    .background-block img {
        grid-column: 1 / 5;
    }

    .background-block div {
        grid-column: 5 / 7;
    }

    /* Images within articles */
    article img {
        width: 100%;
    }
}
