/* Mobile friendly design */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* Navigation bar */
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 2;
    background: white;
    font-family: 'Spartan', sans-serif;
}

/* Nav bar links */
nav a {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: #3b3b3b;
    font-size: 0.7em;
}

/* Text styling on headers */
h1, h2, h3 {
    font-family: 'Marcellus', serif;
    text-align: center;
    color: hsl(0, 0%, 23%);
    padding: 10px;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.15em;
}

h3 {
    font-size: 1em;
}

#hero img {
    max-width: 100%;
    margin: 10px;
}

/* Moving content down to be visible below fixed nav bar */
#hero, .title {
    margin-top: 50px;
}

/* Animating home page - button appearing or name typing etc. time permitting*/


/* Formatting home page */
#hero, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling non-header text */
p, section a {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    color: #3b3b3b;
    padding: 15px;
    text-align: center;
}

section em {
    font-size: 0.8em;
}

section a {
    text-decoration: none;
    background: #F5E9E5;
    padding: 10px;
    color: #3b3b3b;
    border-radius: 15px;
    width: 50%;
    text-align: center;
}

/* Pseudo classes for links */
a:hover {
    background: #F1C5B6;
}

/* Aligning hr element with header */
hr {
    border-top: 20px solid #F5E9E5;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.title h1 {
    height: 30px;
    z-index: 1;
}

.background-block {
    background: #F5E9E5;
}

/* Styling footer icons */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Styling for links under about section */
#about a {
    margin: 5px;
}

/* Tablet screen adjustments */

@media only screen and (max-width: 800px) and (min-width: 401px) {
    /* Increasing font size for larger screen */
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    p, section a, nav a {
        font-size: 1em;
    }
    
    /* Limiting width to keep formatting tidy */
    section p {
        max-width: 600px;
    }

    /* Adjusting hero image on home page */
    #hero img {
        max-width: 80%;
        margin-bottom: 20px;
    }
    
}

/* Desktop screen adjustments */

@media only screen and (min-width: 801px) {
    /* Adjusting text for bigger screen size */
    h1 {
        font-size: 3em;
        letter-spacing: 0.05em;
    }
    
    h2 {
        font-size: 1.6em;
        letter-spacing: 0.05em;
    }
    
    h3 {
        font-size: 1.4em;
        letter-spacing: 0.05em;
    }
    
    p, section a, nav a {
        font-size: 1.2em;
    }
    
    /* Enlarging menu for better use of white space */
    nav a {
        padding: 30px;
    }
    
    /* Formatting widths to keep tidy */
    section p {
        max-width: 800px;
    }

    /* Adjusting hr element for different font sizes */
    hr {
        border-top: 30px solid #F5E9E5;
        box-shadow: none;
    }

    .title h1 {
        height: 45px;
        z-index: 1;
    }

    nav {
        z-index: 3;
    }

    #hero {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
    }

    #hero img {
        width: 50%;
    }

}
