* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 2;
    font-family: 'Spartan', sans-serif;
}

nav a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #3b3b3b;
    font-size: 0.7em;
}

h1, h2, h3 {
    font-family: 'Marcellus', serif;
    text-align: center;
    color: hsl(0, 0%, 23%);
    padding: 10px;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.15em;
}

h3 {
    font-size: 1em;
}

#hero, .title {
    margin-top: 70px;
}

#hero h1 {
    /* If time try to animate typing text here */
}

#hero, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p, section a {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    color: #3b3b3b;
    padding: 15px;
    text-align: center;
}

section em {
    font-size: 0.8em;
}

section a {
    text-decoration: none;
    background: #F5E9E5;
    padding: 10px;
    color: #3b3b3b;
    border-radius: 15px;
    width: 50%;
    text-align: center;
}

a:hover {
    background: #F1C5B6;
}

hr {
    border-top: 20px solid #F5E9E5;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.title h1 {
    height: 30px;
    z-index: 1;
}

.background-block {
    background: #F5E9E5;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about a {
    margin: 5px;
}

/* Tablet screen adjustments */

@media only screen and (max-width: 800px) and (min-width: 401px) {
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    p, section a, nav a {
        font-size: 1em;
    }
    
    section p {
        max-width: 600px;
    }
}

@media only screen and (min-width: 801px) {
    h1 {
        font-size: 3em;
        letter-spacing: 0.05em;
    }
    
    h2 {
        font-size: 1.6em;
        letter-spacing: 0.05em;
    }
    
    h3 {
        font-size: 1.4em;
        letter-spacing: 0.05em;
    }
    
    p, section a, nav a {
        font-size: 1.2em;
    }
    
    section p {
        max-width: 600px;
    }
    
    nav a {
        padding: 30px;
    }
    
    section p {
        max-width: 800px;
    }

    hr {
        border-top: 30px solid #F5E9E5;
        box-shadow: none;
    }

    .title h1 {
        height: 45px;
        z-index: 1;
    }
}
