/* Styling the about page */

/* Mobile friendly */
/* Formatting About page, where #about is container */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Div within container containing h2/h3 text and hero image for about page */
#about-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about img {
  width: 70%;
}

/* Styling about page call to action buttons  */
#about-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for links under about section where #skills is the container*/
#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  padding: 2%;
  margin: 3%;
}

/* Where #skills div styles each div within the container, used to align icons */
#skills div {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Styling the icons in skills section */
#skills i {
    color: #3b3b3b;
    font-size: 3rem;
    padding: 2%;
}

/* styling text next to the icons in skills section */
#skills p {
    line-height: 1.2;
}

/* Links at bottom of about page */
#about a {
  margin: 1%;
  width: 50%;
}

/* Tablet screen size adjustments */
@media only screen and (max-width: 800px) and (min-width: 401px) {
  /* Format layout of image and heading text for responsiveness */
  /* div container with img and h2/h3 */
  #about-hero {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-auto-flow: column;
    padding: 2%;
    column-gap: 3%;
  }

  #about-hero img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: end;
  }

  /* Moving h2 text to be centred and left aligned */
  #about-hero h2 {
    justify-self: start;
    align-self: end;
  }

  /* Moving h3 text to be centred and left aligned */
  #about-hero h3 {
    justify-self: start;
    align-self: start;
    text-align: left;
  }

  /* Styling about page call to action buttons to be inline instead of stacked */
  #about-cta {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Webpage screen adjustments */
@media only screen and (min-width: 801px) {
    /* Applying same layout changes from tablet screen to desktop screen */
  /* Keeping image aligned with text in centre of grid */
  #about-hero img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: end;
  }

  /* Moving h2 text to be centred and left aligned */
  #about-hero h2 {
    justify-self: start;
    align-self: end;
  }

  /* Moving h3 text to be centred and left aligned */
  #about-hero h3 {
    justify-self: start;
    align-self: start;
    text-align: left;
  }

  /* Styling about page call to action buttons  */
  #about-cta {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Container with skill icons */
  #skills {
    flex-direction: row;
    margin: auto;
  }

  /* Formatting about image and heading text */
  #about-hero {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-auto-flow: column;
    padding: 2%;
    column-gap: 3%;
  }
}
