#blog-post img {
  width: 80%;
  margin: 5%;
}

#blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 0.8rem;
  height: 12px;
}

.title {
  margin-top: 15%;
}

hr {
  border-top: 0.8em solid #f5e9e5;
}

ol {
  background: #f5e9e5;
  padding: 2%;
  width: 80%;
  list-style-position: inside;
}

li {
  text-align: left;
  font-size: 1em;
  padding: 2%;
  line-height: 1.5;
}

@media only screen and (max-width: 800px) and (min-width: 401px) {
  .title h1 {
    font-size: 1.6rem;
  }

  hr {
    border-top: 1.2em solid #f5e9e5;
  }

  ol {
    font-size: 1em;
  }
}

@media only screen and (min-width: 801px) {
  .title h1 {
    font-size: 1.8em;
  }

  hr {
    border-top: 1.5em solid #f5e9e5;
  }

  .title {
    margin-top: 10%;
  }
  ol {
    font-size: 1.2em;
  }
}
